<h1>KanBan</h1>
<div class="row">
  <div class="col-sm-4">
    <h5>To-Do</h5>
  </div>
  <div class="col-sm-4">
    <h5>In Progress</h5>
  </div>
  <div class="col-sm-4">
    <h5>Completed</h5>
  </div>
</div>
<div class="col-sm-4" *ngFor="let task of TaskDB.taskDatabase">
  <h5>{{task.title}}</h5>
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{task.status}}</button>
  <p>Priority: {{task.priority}}</p>
  <p>Due Date: {{task.dueDate}}</p>
</div>
<div class="col-sm-4" *ngFor="let task of TaskDB.taskDatabase">

</div>
<div class="col-sm-4" *ngFor="let task of TaskDB.taskDatabase">

</div>
