<form>
  <h2>Add a New Task</h2>
  <div class="col-sm-8">
    <label for="">Title</label>
    <input type="text" class="form-control" id="Title" placeholder="Title">
    <input type="text" class="form-control" id="Title" placeholder="Title">

  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" id="Title" placeholder="Title">
    <input type="text" class="form-control" id="Title" placeholder="Title">
    <input type="text" class="form-control" id="Title" placeholder="Title">

  <button type="submit" class="btn btn-primary">Cancel</button>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>
