<div class="row">
    <div class="row">
      <div class="col-sm-3">
        <h5>Title</h5>
      </div>
      <div class="col-sm-2">
        <h5>Due Date</h5>
      </div>
      <div class="col-sm-2">
        <h5>Priority</h5>
      </div>
      <div class="col-sm-2">
        <h5>Status</h5>
      </div>
      <div class="col-sm-3">
        <h5>Actions</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p>Take out Trash</p>
      </div>
      <div class="col-sm-2">
        <p>10-5</p>
      </div>
      <div class="col-sm-2">
        <p> High</p>
      </div>
      <div class="col-sm-2">
        <p> In-Progress</p>
      </div>
      <div class="col-sm-3">
        <p> &#xF341; &#xF4CA; &#xF78A; </p>
      </div>
    </div>

