<div class="backdrop">
  <div class="modal-container">
  <form (ngSubmit)="formSubmit(tF)" #tF="ngForm">
    <h2>Add a New Task</h2>
    <div class="row">
    <div class="col-sm-7">
      <input
        type="text"
        id="title"
        class="form-control"
        ngModel
        name="title"
        placeholder="Title"
        required>
      <textarea
        type="text"
        class="form-control"
        id="description"
        ngModel
        name="description"
        placeholder="Descripton"
        required>
      </textarea>
    </div>
    <div class="col-sm-5">
      <input
        type="date"
        class="form-control"
        id="dueDate"
        ngModel
        name="dueDate"
        required>
      <input
        list="priority"
        placeholder="Priority"
        ngModel
        name="priority"
        required>
        <datalist
        id="priority">
          <option value="High">High</option>
          <option value="Moderate">Moderate</option>
          <option value="Low" selected>Low</option>
        </datalist>
      <br>
      <input
        list="status"
        id="Status"
        placeholder="Status"
        ngModel
        name="status"
        required>
      <datalist id="status">
        <option value="ToDo" selected>ToDo</option>
        <option value="In-Progress">In-Progress</option>
        <option value="Complete">Complete</option>
      </datalist>
      <br>
    <button class="btn btn-secondary" [routerLink]="['/']">Cancel</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</div>
</form>
</div>
</div>
